
Django
django-cors-headers
django-crispy-forms
django-import-export
djangorestframework
duplicity
entrypoints
gunicorn
macaroonbakery
numpy
pandas
Pillow
PyQt5
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytz
pyudev
pyxdg
PyYAML
requests
requests-unixsocket
SecretStorage==2.3.1
SQLAlchemy
sqlparse
systemd-python
text-unidecode
ubuntu-advantage-tools
ubuntu-drivers-common
unattended-upgrades
uritemplate
urllib3
usb-creator
wadllib
webencodings
whitenoise==5.2.0
