appdirs
cycler
defer
defusedxml
diff-match-patch
distlib
distro
distro-info
Django
django-cors-headers
django-crispy-forms
django-import-export
djangorestframework
duplicity
entrypoints
gunicorn
html5lib
httplib2
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
lxml
macaroonbakery
Mako
MarkupPy
MarkupSafe
matplotlib
monotonic
mpmath
multibootusb
netifaces
numpy
oauth2client
oauthlib
odfpy
olefile
openpyxl
pandas
paramiko
pexpect
Pillow
pipenv
protobuf
pyasn1
pyasn1-modules
pycairo
pycparser
pycups
PyDrive
PyGObject
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
PyQt5
pyRFC3339
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytz
pyudev
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage==2.3.1
simplejson
sip
six
SQLAlchemy
sqlparse
sympy
systemd-python
tablib
text-unidecode
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
usb-creator
wadllib
webencodings
whitenoise==5.2.0
xkit
xlrd
xlwt
