
Django
django-cors-headers
django-crispy-forms
django-import-export
djangorestframework

gunicorn
macaroonbakery
numpy
pandas
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
requests
requests-unixsocket
SecretStorage
sqlparse
systemd-python
whitenoise
